body {
    background-color: #0f1116;
    color: white;
}

.stButton>button {
    background-color: purple;
    color: white;
    border-radius: 8px;
    padding: 10px;
}

.stSidebar {
    background-color: #1c1f26;
}